body {
  background-color: #f8f9fa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


.form-label {
    color: #000000 !important;
    
    font-size: 13px !important;
   
}



/* Ocultar indicador de desenvolvimento do Next.js */
#devtools-indicator,
[data-nextjs-toast="true"],
[data-next-badge-root],
[data-nextjs-dev-tools-button] {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}
